$green: #4d96a9;
$purple-normal: #855fb1;
$purple-light: #d9b8ff;
$cyan: #8fe3f9;
$dark: #28283d;
$gray: #87879d;
$white: #fafafa;

.green {
  color: $green;
}

.purple-normal {
  color: $purple-normal;
}

.purple-light {
  color: $purple-light;
}

.cyan {
  color: $cyan;
}

.dark {
  color: $dark;
}

.gray {
  color: $gray;
}

.white {
  color: $white;
}
